*{
    margin:0;
    border: border-box;
}

.head{
    display: flex;
    justify-content: space-evenly;
    height:70px;
    background-color: #a52a2a;
    width: 100;
}

a{
    margin-top: 15px;
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

#img1{
    height:500px;
    background-image: url(TraveL.png);
    background-size: contain;
    width:1600px;
}

.head2{
    height:40px;
    background-color: #fdf0d5;
    color: brown;
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 2px;
}

.head3{
    width:1575px;
    height: 100px;
    background-color: #003049;
}

h1{
    padding-top: 25px;
    color: #fdf0d5;
    text-align: center;
    font-size: xx-large;
}

@keyframes move {
    from {
        margin-left: 5px;
    }
    to {
        margin-left: 80px;
    }
}

#img1 {
    animation: move 1s linear 0s infinite normal; /* Adjust duration as needed */
}